<!DOCTYPE html>

<html lang="en-us">
  <head>
<head>
    <meta charset="utf-8" />

    <!-- Title -->
    <title>BurgEat</title>

    <!-- Responsive Webpage -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- Reset CSS -->
    <link rel="stylesheet" href="#" />
    <!-- CSS -->
    <link rel="stylesheet" href="#" />

    <!-- Jquery -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Fira+Code|Open+Sans|Roboto&display=swap"
      rel="stylesheet"
    />

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/f1172acf77.js"></script>
  </head>

  </head>
  <body>
    {{{ body }}}
  </body>
</html>