
  <div class="d-flex flex-md-row justify-content-around text-light custom-container">

    <div class="d-flex flex-column justify-content-around custom-header">
      <h1>Love it</h1>
      <h1>List it</h1>
      <h1>Burg-Eat</h1>
    </div>

    <div class="custom-image p-5">
      <img class="img-fluid" src="assets/images/burger.svg" alt="">
    </div>

  </div>

  <form>
    <div class="custom-form text-center">
      <label class="pr-5 mb-0" for="name">Love Burger:</label>
      <input type="text" id="name" placeholder="Enter your favourite burger">
      <button>List it!<i class="fas fa-hamburger"></i></button>
    </div>
  </form>

  <div class="d-flex flex-md-row justify-content-around align-items-center main-content">
    <div>
      <ul>
        {{#each data}}
        <h3>{{burger_name}}</h3>
        {{/each}}
      </ul>
    </div>
    <div>
      <ul>
        {{#each data}}
        <h3>{{burger_name}}</h3>
        {{/each}}
      </ul>
    </div>
  </div>
